/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    margin: 0;
    font-family: "Madimi One", sans-serif;
    background-color: #fffdf5;
}

nav {
    position: fixed;
    z-index: 5;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    top: 0;
    background-color: #fffdf5;
}

.flex-container a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 50px;
}

.flex-container a:hover {
    color: gold;
}

.left a {
    font-size: 350%;
}

.right a {
    font-size: 200%;
}

.heading {
    font-size: 200%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.about {
    margin-left: 25%;
    width: 50%;
}

label {
    margin-left: 25%;
}

input[type=text] {
    padding: 12px 20px;
    width: 37%;
    font-size: 25px;
    font-family: "Madimi One", sans-serif;
    border-radius: 10px;
    margin-left: 50px;
}

.text-container {
    margin-left: 25%;
    width: 50%;
}

.spacer {
    height: 40px;
}

.submit {
    background-color: gold;
    font-size: 35px;
    font-family: "Madimi One", sans-serif;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
}

.submit:hover {
    background-color: rgb(255, 233, 106);
    border-color: white;
}