<nav class="flex-container">
    <div class="left">
        <a href="/">Nuggets of Positivity</a>
    </div>
    <div class="right">
        <a href="/about">About</a>
        <a href="/create">Create a Nugget</a>
        <a href="/login">Login</a>
    </div>
</nav>
