<!DOCTYPE html >
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="heading">
        <center>
            <h1>
                About Nuggets of Positivity
            </h1>
            <h5>
                The happiest place in the world
            </h5>
        </center>
        <div>
            <p>Nuggets of Positivity was created to encourage smiles and laughter! 
                The mind is a deep ocean of thoughts, and oftentimes, people become 
                entrenched in negative thoughts and self-deprecation unknowingly. 
                This spiral into unhappiness spurred by the constant reminders of our 
                shortcomings is detrimental to our overall well-being. With Nuggets of 
                Positivity, people from all over are encouraged to share quick, uplifting 
                statements to help brighten a stranger's day.
            </p>
        </div>
    </div>
</body>
</html>
